{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "BETA"
  },
  html: '<b>Help us improve this service</b><br>This is a new service.Help us for others to improve it by <a  class="govuk-link" href="https://www.smartsurvey.co.uk/s/SurveyExit/?service=Specials
  "target=_blank>giving your feedback</a>  '

}) }}
{% endblock %}


{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
