{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "common/page.njk" %}

{% block page_content %}

{% if FileErrors.length > 0 %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: FileErrors
}) }}

{%endif%}



{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Upload other information",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Please provide any additional relevant information that you would like to add to this case.
     Don't include personal financial information, such as your bank details."
  }
}) }}


<h2 class="govuk-heading-m">{{ title1 }}</h2>
<p class="govuk-body">{{ line1 }}</p>
<p class="govuk-body">{{ line2 }}</p>
<p class="govuk-body">{{ line3 }}</p>
{{ uploadExamples }}

{{ govukDetails({
  summaryText: "File uploads requirements",
  text: uploadRequirement | safe
}) }}

<div id="uploadGroup" tabindex="0" class="uploadGroup">
  <h2 class="govuk-heading-s">{{ uploadFiles }}</h2>
  <p class="govuk-body govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-3{% if otherInformation|length %} hidden{% endif %}" id="noFilesUploaded">{{ noFilesUploaded }}</p>
  <ul id="filesUploaded" class="govuk-list">
    {%if otherInformation.length >0 %}
    {% for file in otherInformation %}
      <li class="uploadedFile govuk-!-padding-top-2 govuk-!-padding-bottom-3 govuk-section-break govuk-section-break--visible">
        {{ file.fileName }}
        {% set documentId = file.documentId%}
        <a href="/upload-other-information?query=delete&docId={{documentId}}&documentType=other" class="govuk-link--no-visited-state float-right ">{{ delete }}</a>
      </li>
    {% endfor %}
    {%endif%}
  </ul>
</div>

<p class="govuk-body">
  {{ fileFormats }}<br>
  {{ fileSize }}
</p>

<form class="formRow" action="/upload-other-information?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data">
  {{ govukFileUpload({
    id: "file-upload-1",
    name: "documents",
    classes: "govuk-!-margin-bottom-1",
    label: {
      text: "Upload a file"
    }
  }) }}
  <p class="govuk-body">{{ uploadGuidance }}</p>

  {{ govukButton({
            text: uploadButton,
            type: "upload document",
            classes: "govuk-!-margin-bottom-1"
  }) }}


  {{ govukInput({
    label: {
      text: "Please explain why you feel this document is relevant to your case",
       classes: "govuk-!-margin-top-1"
    },
    id: "event-name",
    name: "event-name"
  }) }}

</form>

{% endblock %}
